html {
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  max-width: 1210px;
  padding-left: 2rem;
  padding-right: 2rem;
}
input, 
select {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: .5rem .3rem;
  outline: none;
}
input[type="text"],
select {
  width: 100%;
  border: 1px solid #868686;
  border-radius: 3px;
}
button {
  cursor: pointer;
}
button:disabled {
  background: #a3a3a3 !important;
}
