.header {
  width: 100%;
  height: 10rem;
  padding: 0 2rem;
  background-color: #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__title {
  font-size: 4rem;
  font-weight: bold;
}

.form {
  padding-top: 3rem;
  width: 100%;
  height: calc(100vh - 10rem);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 0 2rem;
}
.form .left {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 2rem 0;
}
.form .right {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 1rem 0;
}
.form__frame {
  width: 30rem;
  height: 35rem;
  border: 5px dashed #e7e4e4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.form__frame i {
  color: #e7e4e4;
  font-size: 15rem;
}
.form__frame img {
  width: 100%;
  object-fit: contain;
  display: none;
}
.form__choose-db {
  font-size: 1.6rem;
  text-decoration: underline;
  cursor: pointer;
}
.form__options {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.form__group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 0.5rem 0;
  width: 75%;
}
.form__group-select {
  padding: 0.5rem 0.3rem;
}
.form button {
  margin-top: 2rem;
}

.btn {
  outline: none;
  border: none;
  padding: 1.3rem 2.6rem;
  background-color: transparent;
  font-size: 1.6rem;
}
.btn--rounded {
  border-radius: 0.5rem;
}
.btn--dark {
  background-color: #474747;
  color: #E7E7E7;
}
.btn--primary {
  background-color: #1a73e8;
  color: white;
}

.radio-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 0 1rem;
}

.text--red {
  color: red;
}

.required {
  color: red !important;
  border-color: red !important;
}

/*# sourceMappingURL=style.css.map */
