$header-height: 10rem;

@mixin flexbox($align: flex-start, $justify: flex-start, $wrap: nowrap, $dir: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction: $dir;
}

.header {
    width: 100%;
    height: $header-height;
    padding: 0 2rem;
    background-color: #E5E5E5;
    @include flexbox(center);
    &__title {
        font-size: 4rem;
        font-weight: bold;
    }
}
.form {
    padding-top: 3rem;
    width: 100%;
    height: calc(100vh - $header-height);
    @include flexbox(flex-start, center);
    gap: 0 2rem;
    .left {
        flex-grow: 1;
        @include flexbox(center, center, nowrap, column);
        gap: 2rem 0;
    }
    .right {
        flex-grow: 1;
        @include flexbox(flex-start, center, nowrap, column);
        gap: 1rem 0;
    }
    &__frame {
        width: 30rem;
        height: 35rem;
        border: 5px dashed #e7e4e4;
        @include flexbox(center, center);
        i {
            color: #e7e4e4;
            font-size: 15rem;
        }
        img {
            width: 100%; 
            object-fit: contain;
            display: none;
        }
    }
    &__choose-db {
        font-size: 1.6rem;
        text-decoration: underline;
        cursor: pointer;
    }
    &__options {
        @include flexbox(flex-start, center, nowrap, column);
    }
    &__group {
        @include flexbox(flex-start, flex-start, nowrap, column);
        gap: .5rem 0;
        width: 75%;
        &-select {
            padding: .5rem .3rem;
        }
    }
    button {
        margin-top: 2rem;
    }
}
.btn {
    outline: none;
    border: none;
    padding: 1.3rem 2.6rem;
    background-color: transparent;
    font-size: 1.6rem;
    &--rounded {
        border-radius: 0.5rem;
    }
    &--dark {
        background-color: #474747;
        color: #E7E7E7;
    }
    &--primary {
        background-color: #1a73e8;
        color: white;
    }
}
.radio-group {
    @include flexbox(center);
    gap: 0 1rem;
}
.text--red {
    color: red;
}
.required {
    color: red !important;
    border-color: red !important;
}
